Repository softeerbootcamp-2nd/A5-Idle, pull requests merged in 2023-08, with the labels that each got.

#30 [FE] 일반 버튼 컴포넌트 구현
  frontend/Idle/package-lock.json
  frontend/Idle/src/components/common/BlueButton.jsx
  frontend/Idle/src/components/common/Button.jsx
  frontend/Idle/src/components/common/WhiteButton.jsx
  frontend/Idle/styles/GlobalStyle.jsx
Labels: Frontend ☀️, Component 🎲

#31 [feat] 현대차 로고 컴포넌트 구현
  frontend/Idle/package-lock.json
  frontend/Idle/package.json
  frontend/Idle/src/assets/images/Hyundai.svg
  frontend/Idle/src/components/common/MainLogo.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/styles/GlobalStyle.jsx
  frontend/Idle/utils/routes.jsx
  frontend/Idle/vite.config.js
Labels: Frontend ☀️, Component 🎲

#28 [FE] 툴팁 공용 컴포넌트 구현
  frontend/Idle/src/assets/images/tooltipArrow.svg
  frontend/Idle/src/components/common/TrimTooltip.jsx
Labels: Frontend ☀️, Component 🎲

#32 [FE] 자동차 모델명 클릭
  frontend/Idle/src/assets/images/arrowDown.svg
  frontend/Idle/src/components/ClickCarModelName/ClickCarModelName.jsx
  frontend/Idle/src/pages/trimPage.jsx
Labels: Feature 💡, Frontend ☀️

#36 [feat] navbar 박스 구현
  frontend/Idle/src/App.jsx
  frontend/Idle/src/assets/images/checked.svg
  frontend/Idle/src/components/common/MainLogo.jsx
  frontend/Idle/src/components/common/NavbarBox.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/utils/carContext.jsx
  frontend/Idle/utils/currentPageContext.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#37 [merge] 전역 차 객체 머지
  frontend/Idle/src/App.jsx
  frontend/Idle/src/assets/images/arrowDown.svg
  frontend/Idle/src/assets/images/checked.svg
  frontend/Idle/src/assets/images/tooltipArrow.svg
  frontend/Idle/src/components/carNameDropdown/carNameDropdown.jsx
  frontend/Idle/src/components/common/MainLogo.jsx
  frontend/Idle/src/components/common/NavbarBox.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/utils/carContext.jsx
  frontend/Idle/utils/currentPageContext.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#39 [FE] 노말 트림 박스 컴포넌트 구현
  frontend/Idle/src/assets/images/arrowRight.svg
  frontend/Idle/src/components/common/NormalTrimBox.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/styles/GlobalStyle.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#35 [FE] 툴팁 공용 컴포넌트 구현
  frontend/Idle/src/assets/images/confusingTooltip.svg
  frontend/Idle/src/assets/images/findTrimTooltip.svg
  frontend/Idle/src/assets/images/optionTooltip.svg
  frontend/Idle/src/components/common/ConfusingTooltip.jsx
  frontend/Idle/src/components/common/FindTrimTooltip.jsx
  frontend/Idle/src/components/common/OptionTooltip.jsx
  frontend/Idle/src/components/common/TrimTooltip.jsx
  frontend/Idle/src/pages/trimPage.jsx
Labels: Frontend ☀️, Component 🎲

#41 [FE] 경고 모달 컴포넌트 구현 Component
  frontend/Idle/src/components/common/BlueButton.jsx
  frontend/Idle/src/components/common/WarningModal.jsx
  frontend/Idle/src/components/common/WhiteButton.jsx
Labels: Feature 💡, Frontend ☀️

#44 [FE] 트림 박스 컨테이너 구현
  frontend/Idle/src/components/TrimBoxContainer/TrimBoxContainer.jsx
  frontend/Idle/src/components/common/NormalTrimBox.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/utils/api.jsx
  frontend/Idle/utils/dummydata/trim.json
Labels: Feature 💡, Frontend ☀️

#46 [FE] 진행 우측 네비게이션 창 구현
  frontend/Idle/src/App.jsx
  frontend/Idle/src/components/Navbar/EstimatePrice.jsx
  frontend/Idle/src/components/Navbar/Navbar.jsx
  frontend/Idle/src/components/Navbar/NavbarBox.jsx
  frontend/Idle/src/components/common/NavbarBox.jsx
  frontend/Idle/src/components/common/NormalTrimBox.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/utils/carContext.jsx
  frontend/Idle/utils/constants.jsx
  frontend/Idle/utils/context.jsx
  frontend/Idle/utils/currentPageContext.jsx
  frontend/Idle/utils/globalCar.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#48 [FE] 내게 맞는 트림 찾기 모달 창 구현
  frontend/Idle/src/assets/images/arrowUpper.svg
  frontend/Idle/src/components/common/WarningModal.jsx
  frontend/Idle/src/components/findTrim/FindTrim.jsx
  frontend/Idle/src/components/findTrim/FindTrimButton.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/pages/colorPage.jsx
Labels: Frontend ☀️, Component 🎲

#51 [FE] 트림 메인 페이지 중간 머지
  frontend/Idle/src/assets/images/Calligraphy.svg
  frontend/Idle/src/assets/images/Exclusive.svg
  frontend/Idle/src/assets/images/Le Blanc.svg
  frontend/Idle/src/assets/images/Prestige.svg
  frontend/Idle/src/components/Navbar/EstimatePrice.jsx
  frontend/Idle/src/components/Navbar/NavbarBox.jsx
  frontend/Idle/src/components/common/NormalTrimBox.jsx
  frontend/Idle/src/components/layout/footer.jsx
  frontend/Idle/src/components/layout/header.jsx
  frontend/Idle/src/components/layout/layout.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/styles/GlobalStyle.jsx
  frontend/Idle/src/utils/globalCar.jsx
  frontend/Idle/src/utils/router.jsx
Labels: Feature 💡, Frontend ☀️

#53 [FE] 트림 메인 페이지
  frontend/Idle/src/assets/images/Calligraphy.png
  frontend/Idle/src/assets/images/Calligraphy.svg
  frontend/Idle/src/assets/images/Exclusive.png
  frontend/Idle/src/assets/images/Exclusive.svg
  frontend/Idle/src/assets/images/Le Blanc.png
  frontend/Idle/src/assets/images/Le Blanc.svg
  frontend/Idle/src/assets/images/Prestige.png
  frontend/Idle/src/assets/images/Prestige.svg
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/styles/GlobalStyle.jsx
  frontend/Idle/src/utils/routes.jsx
Labels: Feature 💡, Frontend ☀️

#55 [feat] 내게 맞는 트림 찾기 내 기능 박스 컴포넌트 & 컨테이너 구현
  frontend/Idle/src/assets/images/optionChecked.svg
  frontend/Idle/src/components/carNameDropdown/carNameDropdown.jsx
  frontend/Idle/src/components/common/MainLogo.jsx
  frontend/Idle/src/components/findTrim/OptionBox.jsx
  frontend/Idle/src/components/findTrim/OptionBoxContainer.jsx
  frontend/Idle/src/components/layout/header.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/styles/GlobalStyle.jsx
  frontend/Idle/src/styles/font.css
  frontend/Idle/src/utils/router.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#58 [FE] 내게 맞는 트림 찾기 커스텀 트림박스
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/FindTrimContentMain.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
Labels: Frontend ☀️, Component 🎲

#59 [FE] 트림 자세히 보기 팝업 구현
  frontend/Idle/src/assets/images/arrowDown.svg
  frontend/Idle/src/assets/images/esc.svg
  frontend/Idle/src/components/TrimBoxContainer/TrimBoxContainer.jsx
  frontend/Idle/src/components/TrimDetailModal/OptionDropDown.jsx
  frontend/Idle/src/components/TrimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/components/common/NormalTrimBox.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#60 [FE] 경고 모달 컴포넌트 구현
  frontend/Idle/src/components/common/WarningModal.jsx
Labels: Feature 💡, Frontend ☀️

#61 [FE] 상세 옵션 정보 모달창 컴포넌트
  frontend/Idle/src/assets/images/X.svg
  frontend/Idle/src/components/common/OptionModal.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
Labels: Frontend ☀️, Component 🎲

#73 [FE] 내게 맞는 트림 찾기 커스텀 트림박스
  frontend/Idle/src/components/findTrim/FindTrimContentMain.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
  frontend/Idle/src/components/findTrim/TrimBoxOptionStatus.jsx
Labels: Frontend ☀️, Component 🎲

#76 [BE] 스프링 부트 패키지 구조 설계
  backend/src/main/java/com/autoever/idle/domain/bodyType/BodyType.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMaster.java
  backend/src/main/java/com/autoever/idle/domain/carType/CarType.java
  backend/src/main/java/com/autoever/idle/domain/drivingMethod/DrivingMethod.java
  backend/src/main/java/com/autoever/idle/domain/engine/Engine.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColor.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColor.java
  backend/src/main/java/com/autoever/idle/domain/option/additionalOption/AdditionalOption.java
  backend/src/main/java/com/autoever/idle/domain/option/defaultOption/DefaultOption.java
  backend/src/main/java/com/autoever/idle/domain/trim/Trim.java
Labels: Backend ⚙️, Setting⚒

#75 [FE] 트림 자세히 보기 팝업 구현
  frontend/Idle/src/App.jsx
  frontend/Idle/src/assets/images/hyundai.svg
  frontend/Idle/src/components/common/NormalTrimBox.jsx
  frontend/Idle/src/components/common/OptionModal.jsx
  frontend/Idle/src/components/common/WarningModal.jsx
  frontend/Idle/src/components/layout/Header.jsx
  frontend/Idle/src/components/layout/Layout.jsx
  frontend/Idle/src/components/trimDetailModal/OptionDropDown.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/utils/router.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#78 [BE] 초기 세팅 완료
  backend/src/main/java/com/autoever/idle/domain/bodyType/BodyType.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMaster.java
  backend/src/main/java/com/autoever/idle/domain/carType/CarType.java
  backend/src/main/java/com/autoever/idle/domain/drivingMethod/DrivingMethod.java
  backend/src/main/java/com/autoever/idle/domain/engine/Engine.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColor.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColor.java
  backend/src/main/java/com/autoever/idle/domain/option/additionalOption/AdditionalOption.java
  backend/src/main/java/com/autoever/idle/domain/option/defaultOption/DefaultOption.java
  backend/src/main/java/com/autoever/idle/domain/trim/Trim.java
  backend/src/main/resources/application.yml
Labels: Backend ⚙️, Setting⚒

#82 [BE] Github Actions 및 Dockerfile hotFix
  .github/workflows/idle_workflow.yml
  backend/Dockerfile
Labels: Hotfix 🤫, Backend ⚙️

#86 [FE] 옵션 추가 알림 alert 컴포넌트
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/FindTrimContentMain.jsx
  frontend/Idle/src/components/findTrim/OptionAlert.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
Labels: Feature 💡, Frontend ☀️

#88 [Fe] 상세 옵션 정보 모달창 컴포넌트
  frontend/Idle/src/components/common/OptionModal.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/FindTrimContentMain.jsx
  frontend/Idle/src/components/findTrim/OptionBox.jsx
Labels: Frontend ☀️, Component 🎲

#90 [FE] 세부모델 박스 컴포넌트 & 컨테이너
  frontend/Idle/src/assets/images/X.svg
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/buttons/BlueButton.jsx
  frontend/Idle/src/components/common/buttons/WhiteButton.jsx
  frontend/Idle/src/components/common/logos/MainLogoBlack.jsx
  frontend/Idle/src/components/common/logos/MainLogoWhite.jsx
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/common/toolTips/ConfusingTooltip.jsx
  frontend/Idle/src/components/common/toolTips/FindTrimTooltip.jsx
  frontend/Idle/src/components/common/toolTips/OptionTooltip.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/OptionBox.jsx
  frontend/Idle/src/components/layout/Header.jsx
  frontend/Idle/src/components/trimBoxContainer/TrimBoxContainer.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/mainPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/dummydata/trim.json
  frontend/Idle/src/utils/globalCar.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#92 [FE] 카테고리 탭 컴포넌트 구현
  frontend/Idle/src/components/common/tabs/CategoryTabs.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#93 [FE] 옵션 변경시 데이터 변경과 경고 모달
  frontend/Idle/src/components/common/modals/RemoveOptionModal.jsx
  frontend/Idle/src/pages/billPage.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#97 [Fe] useReducer 변경 + warning modal 연결
  frontend/Idle/src/App.jsx
  frontend/Idle/src/assets/images/X.svg
  frontend/Idle/src/assets/images/hyundai.svg
  frontend/Idle/src/components/common/OptionModal.jsx
  frontend/Idle/src/components/common/WarningModal.jsx
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/buttons/BlueButton.jsx
  frontend/Idle/src/components/common/buttons/WhiteButton.jsx
  frontend/Idle/src/components/common/logos/MainLogoBlack.jsx
  frontend/Idle/src/components/common/logos/MainLogoWhite.jsx
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/common/modals/RemoveOptionModal.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/common/tabs/CategoryTabs.jsx
  frontend/Idle/src/components/common/toolTips/ConfusingTooltip.jsx
  frontend/Idle/src/components/common/toolTips/FindTrimTooltip.jsx
  frontend/Idle/src/components/common/toolTips/OptionTooltip.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/FindTrimContentMain.jsx
  frontend/Idle/src/components/findTrim/OptionAlert.jsx
  frontend/Idle/src/components/findTrim/OptionBox.jsx
  frontend/Idle/src/components/findTrim/OptionBoxContainer.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
  frontend/Idle/src/components/findTrim/TrimBoxOptionStatus.jsx
  frontend/Idle/src/components/layout/Header.jsx
  frontend/Idle/src/components/layout/Layout.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/components/trimBoxContainer/TrimBoxContainer.jsx
  frontend/Idle/src/components/trimDetailModal/OptionDropDown.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/mainPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/context.jsx
  frontend/Idle/src/utils/dummydata/trim.json
  frontend/Idle/src/utils/globalCar.jsx
  frontend/Idle/src/utils/reducer.jsx
  frontend/Idle/src/utils/router.jsx
Labels: Feature 💡, Refactor ✨, Frontend ☀️

#100 [FE] 엔진, 구동방식, 바디타입, 내장색상 공용 컴포넌트 구현
  frontend/Idle/src/components/common/content/EngineContent.jsx
  frontend/Idle/src/components/common/content/EngineDetail.jsx
  frontend/Idle/src/components/common/content/MainContents.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#94 [FE] navbar, ROmodal 버그 수정
  frontend/Idle/src/components/common/modals/RemoveOptionModal.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/utils/globalCar.jsx
Labels: Bug 🚨, Frontend ☀️

#102 [Fe] useReducer 변경 + warning modal 연결 (2)
  frontend/Idle/src/App.jsx
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/logos/MainLogoBlack.jsx
  frontend/Idle/src/components/common/modals/RemoveOptionModal.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/findTrim/FindTrimContentMain.jsx
  frontend/Idle/src/components/findTrim/OptionAlert.jsx
  frontend/Idle/src/components/layout/Header.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/globalCar.jsx
  frontend/Idle/src/utils/reducer.jsx
Labels: Refactor ✨, Frontend ☀️

#103 [FE] 옵션 추가 알림 alert 컴포넌트 Component
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/FindTrimContentMain.jsx
  frontend/Idle/src/components/findTrim/OptionBoxContainer.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
  frontend/Idle/src/components/findTrim/TrimBoxOptionStatus.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#108 [FE] 외장 색상 박스 컴포넌트 & 컨테이너
  frontend/Idle/src/assets/images/outsideColor/black.png
  frontend/Idle/src/assets/images/outsideColor/brown.png
  frontend/Idle/src/assets/images/outsideColor/emerald.png
  frontend/Idle/src/assets/images/outsideColor/grey.png
  frontend/Idle/src/assets/images/outsideColor/moonlight.png
  frontend/Idle/src/assets/images/outsideColor/silver.png
  frontend/Idle/src/assets/images/outsideColor/white.png
  frontend/Idle/src/components/colorSelection/OutsideColorBoxContainer.jsx
  frontend/Idle/src/components/common/boxs/OutsideColorBox.jsx
  frontend/Idle/src/components/findTrim/OptionBox.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/pages/billPage.jsx
Labels: Frontend ☀️, Component 🎲

#115 [FE] 내장 색상 컴포넌트
  frontend/Idle/src/assets/images/innerColor.png
  frontend/Idle/src/components/carColor/InnerColor.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/OptionAlert.jsx
  frontend/Idle/src/pages/colorPage.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#116 [FE] 옵션 선택 버튼 ( 고민해보기, 취소하기, 추가하기) 컴포넌트 구현
  frontend/Idle/src/components/common/buttons/AddButton.jsx
  frontend/Idle/src/components/common/buttons/ConfusingButton.jsx
Labels: Frontend ☀️, Component 🎲

#118 [FE] 내장 색상 컴포넌트
  frontend/Idle/src/assets/images/외장색상1.png
  frontend/Idle/src/assets/images/외장색상2.png
  frontend/Idle/src/components/colorSelection/InnerColorBoxContainer.jsx
  frontend/Idle/src/components/colorSelection/OutsideColorBoxContainer.jsx
  frontend/Idle/src/components/common/boxs/OutsideColorBox.jsx
  frontend/Idle/src/components/common/content/Car3D.jsx
  frontend/Idle/src/components/common/content/InnerColorContent.jsx
  frontend/Idle/src/components/common/content/MainContents.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#120 [FE] 옵션 박스 공용 컴포넌트 구현
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/components/common/buttons/AddButton.jsx
  frontend/Idle/src/components/common/buttons/ConfusingButton.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/reducer.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#121 [Fe] 옵션 선택 메인 컴포넌트
  frontend/Idle/src/assets/images/optionArrowLeft.svg
  frontend/Idle/src/assets/images/optionArrowRight.svg
  frontend/Idle/src/assets/images/wheelImg.svg
  frontend/Idle/src/components/colorSelection/OutsideColorBoxContainer.jsx
  frontend/Idle/src/components/common/boxs/OutsideColorBox.jsx
  frontend/Idle/src/components/optionMain/Functions.jsx
  frontend/Idle/src/components/optionMain/OptionContent.jsx
  frontend/Idle/src/components/optionMain/OptionMain.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
Labels: Frontend ☀️, Component 🎲

#124 [FE] 옵션 박스 컨테이너 구현
  frontend/Idle/src/assets/images/arrowOption.svg
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/components/common/buttons/AddButton.jsx
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/styles/globalStyle.jsx
Labels: Feature 💡, Frontend ☀️

#129 [feat] 최종 견적서 페이지 틀 구현
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/content/Car3D.jsx
  frontend/Idle/src/components/common/toolTips/ConfusingTooltip.jsx
  frontend/Idle/src/components/common/toolTips/FindTrimTooltip.jsx
  frontend/Idle/src/components/common/toolTips/OptionTooltip.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/utils/router.jsx
Labels: Frontend ☀️, Style 🎨

#131 [BE] 외장 색상 선택 API 구현
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColorController.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/CarExteriorImgDto.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorColorDto.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorColorResDto.java
  backend/src/test/java/com/autoever/idle/domain/exteriorColor/ExteriorColorControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/exteriorColor/ExteriorColorRepositoryTest.java
Labels: Feature 💡, Backend ⚙️

#133 [FE] 견적서 완성 기본 견적
  frontend/Idle/src/components/BillMain/BillDetail.jsx
  frontend/Idle/src/components/BillMain/BillMain.jsx
  frontend/Idle/src/components/common/buttons/ModifyButton.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#143 [Fe] 옵션 페이지 카테고리와 컴포넌트 연결
  frontend/Idle/src/components/findTrim/OptionAlert.jsx
  frontend/Idle/src/components/optionMain/Functions.jsx
  frontend/Idle/src/components/optionMain/OptionMain.jsx
  frontend/Idle/src/pages/optionPage.jsx
Labels: Feature 💡, Frontend ☀️

#144 [FE] 기본옵션 자세히보기 모달
  frontend/Idle/src/assets/images/arrowLeft.svg
  frontend/Idle/src/components/defaultOption/DetailOptionModal.jsx
  frontend/Idle/src/components/defaultOption/ItemBox.jsx
  frontend/Idle/src/components/defaultOption/PaginationButton.jsx
Labels: Frontend ☀️, Component 🎲

#153 [FE] 견적서 페이지 옵션 박스 & 컨테이너
  frontend/Idle/src/components/BillMain/BillOptionBox.jsx
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/components/navbar/Navbar.jsx
  frontend/Idle/src/pages/billPage.jsx
Labels: Frontend ☀️, Component 🎲

#151 [BE] data.sql 수정
  backend/src/main/resources/data.sql
Labels: Hotfix 🤫, Backend ⚙️

#154 [BE] 내게 맞는 트림 찾기 API Test 수정
  backend/src/test/java/com/autoever/idle/domain/function/FunctionRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimServiceTest.java
  backend/src/test/resources/application.yml
Labels: Refactor ✨, Backend ⚙️

#159 [BE] 기본 기능 조회 쿼리 리팩토링 및 사용하지 않는 엔티티 클래스 삭제
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMaster.java
  backend/src/main/java/com/autoever/idle/domain/carType/CarType.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/FunctionCategory.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/FunctionCategoryRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColor.java
  backend/src/main/java/com/autoever/idle/domain/function/Function.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColor.java
  backend/src/main/java/com/autoever/idle/domain/trim/Trim.java
  backend/src/main/resources/application-local.yml
Labels: Hotfix 🤫, Backend ⚙️

#160 [BE] 기본 옵션 페이지 api 구현
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/FunctionCategoryRepository.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/FunctionCategoryRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/dto/DefaultFunctionCategoryNameResDto.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/dto/DefaultFunctionCategoryResDto.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/dto/FunctionCategoryDto.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionController.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionService.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/DefaultFunctionNameResDto.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/DefaultFunctionResDto.java
  backend/src/main/java/com/autoever/idle/domain/trim/TrimService.java
  backend/src/main/java/com/autoever/idle/global/exception/ErrorCode.java
  backend/src/main/java/com/autoever/idle/global/exception/GlobalExceptionHandler.java
  backend/src/test/java/com/autoever/idle/domain/category/functionCategory/FunctionCategoryRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/function/FunctionControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/function/FunctionServiceTest.java
Labels: Feature 💡, Backend ⚙️

#162 [BE] 세부 모델 통합 테스트 -> 유닛 테스트로 변경
  backend/src/test/java/com/autoever/idle/domain/detailModel/DetailModelControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/detailModel/DetailModelServiceTest.java
Labels: Refactor ✨, Backend ⚙️

#164 [BE] data.sql 수정
  backend/src/main/resources/data.sql
Labels: Hotfix 🤫, Backend ⚙️

#156 [FE] 모달 창 애니메이션 추가
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/pages/billPage.jsx
Labels: Feature 💡, Frontend ☀️, Style 🎨

#165 [FE] 트림 선택 페이지 API 연결
  frontend/Idle/.gitignore
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/findTrim/FindTrimContentMain.jsx
  frontend/Idle/src/components/trimBoxContainer/TrimBoxContainer.jsx
  frontend/Idle/src/components/trimDetailModal/OptionDropDown.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/api.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#173 [Fe] 카마스터 찾기 구현
  frontend/Idle/.gitignore
  frontend/Idle/index.html
  frontend/Idle/package-lock.json
  frontend/Idle/package.json
  frontend/Idle/src/assets/images/dealer.svg
  frontend/Idle/src/components/BillMain/Address.jsx
  frontend/Idle/src/components/BillMain/DillerBox.jsx
  frontend/Idle/src/components/BillMain/DillerBoxContainer.jsx
  frontend/Idle/src/components/BillMain/Map.jsx
  frontend/Idle/src/components/BillMain/MapModal.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/vite.config.js
Labels: Frontend ☀️, Component 🎲

#174 [FE] 페이지 탭 별로 라우터 파라미터 추가
  frontend/Idle/src/components/BillMain/BillDetail.jsx
  frontend/Idle/src/components/colorSelection/InnerColorBoxContainer.jsx
  frontend/Idle/src/components/colorSelection/OutsideColorBoxContainer.jsx
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/boxs/OutsideColorBox.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/globalCar.jsx
  frontend/Idle/src/utils/reducer.jsx
  frontend/Idle/src/utils/router.jsx
Labels: Feature 💡, Frontend ☀️

#170 [BE] 견적서 정보 API 기능 구현
  backend/.DS_Store
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/autoever/idle/domain/bill/BillController.java
  backend/src/main/java/com/autoever/idle/domain/bill/BillService.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillRequestDto.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillResponseDto.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/ExteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorBillDto.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionRepository.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/AdditionalFunctionBillDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorBillDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/global/exception/ErrorCode.java
  backend/src/main/java/com/autoever/idle/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/autoever/idle/global/exception/custom/InvalidExteriorException.java
  backend/src/main/java/com/autoever/idle/global/exception/custom/InvalidInteriorException.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/exteriorColor/ExteriorColorRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/function/FunctionRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImplTest.java
Labels: Feature 💡, Backend ⚙️

#179 [FE] 내게맞는 트림찾기 API연결
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/Modal.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/api.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/reducer.jsx
  frontend/Idle/vite.config.js
Labels: Feature 💡, Frontend ☀️

#185 [BE] 내게 맞는 트림 찾기 post로 변경
  backend/src/main/java/com/autoever/idle/domain/function/TrimFunctionRepository.java
  backend/src/main/java/com/autoever/idle/domain/function/TrimFunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/FunctionIdDto.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/MyTrimController.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/MyTrimService.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimServiceTest.java
Labels: Hotfix 🤫, Backend ⚙️

#177 [Be] Cross Origin Resource Sharing 문제 해결
  backend/src/main/java/com/autoever/idle/global/config/WebConfig.java
Labels: Feature 💡, Backend ⚙️

#183 [BE] RequestBody -> QueryString으로 요청 변경
  .github/workflows/idle_workflow.yml
  backend/Dockerfile
  backend/build.gradle
  backend/src/main/java/com/autoever/idle/domain/bill/BillController.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillRequestDto.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/DetailModelController.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/dto/TrimIdRequest.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionController.java
  backend/src/test/java/com/autoever/idle/domain/detailModel/DetailModelControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/function/FunctionControllerTest.java
Labels: Hotfix 🤫, Backend ⚙️

#189 [BE] 세부모델 각 목록 가격 오름차순으로 정렬되도록 수정
  backend/src/main/java/com/autoever/idle/domain/detailModel/bodyType/BodyTypeRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/drivingMethod/DrivingMethodRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/engine/EngineRepositoryImpl.java
  backend/src/test/java/com/autoever/idle/domain/detailModel/engine/EngineRepositoryImplTest.java
Labels: Hotfix 🤫, Backend ⚙️

#188 [FE] 색상 변경 페이지 api 연결
  frontend/Idle/src/components/colorSelection/InnerColorBoxContainer.jsx
  frontend/Idle/src/components/colorSelection/OutsideColorBoxContainer.jsx
  frontend/Idle/src/components/common/content/InnerColorContent.jsx
  frontend/Idle/src/components/common/tabs/CategoryTabs.jsx
  frontend/Idle/src/components/layout/Header.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/utils/api.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/vite.config.js
Labels: Feature 💡, Frontend ☀️

#190 [Fe] 엔진/구동방식/바디타입 선택 페이지’ 호출 API 연동
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/content/EngineContent.jsx
  frontend/Idle/src/components/common/content/MainContents.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#192 [BE] 최종 견적서 API GET -> POST 요청으로 변경
  backend/src/main/java/com/autoever/idle/domain/bill/BillController.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillRequestDto.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
Labels: Hotfix 🤫, Backend ⚙️

#198 [BE] 내장 색상 선택 API
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorController.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorColorDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorColorResDto.java
  backend/src/main/java/com/autoever/idle/global/exception/ErrorCode.java
  backend/src/main/java/com/autoever/idle/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/autoever/idle/global/exception/custom/InvalidTrimException.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorServiceTest.java
Labels: Feature 💡, Backend ⚙️

#202 [BE] 직접 트림 선택, 외장 색상 선택 단위 테스트로 수정
  backend/src/main/java/com/autoever/idle/domain/bill/BillService.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillResponseDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorBillDto.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/exteriorColor/ExteriorColorServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimServiceTest.java
Labels: Hotfix 🤫, Backend ⚙️

#200 [BE] 카마스터 찾기 API 구현
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterController.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterRepository.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterService.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/dto/CarMasterDto.java
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterServiceTest.java
  backend/src/test/resources/application.yml
Labels: Feature 💡, Backend ⚙️

#204 [FE] 견적서 페이지 데이터 연결 및 컴포넌트 수정
  frontend/Idle/src/components/BillMain/BillDetail.jsx
  frontend/Idle/src/components/BillMain/BillMain.jsx
  frontend/Idle/src/components/BillMain/BillOptionBox.jsx
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/pages/billPage.jsx
Labels: Feature 💡, Frontend ☀️

#205 [FE] 내게맞는 트림찾기 API연결
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/Modal.jsx
  frontend/Idle/src/components/findTrim/OptionAlert.jsx
  frontend/Idle/src/components/findTrim/OptionBoxContainer.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/api.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/reducer.jsx
Labels: Feature 💡, Frontend ☀️

#207 [BE] CORS 경로 추가
  backend/src/main/java/com/autoever/idle/global/config/WebConfig.java
Labels: Hotfix 🤫, Backend ⚙️

#208 [BE] 3Week-2 be-develop to be main merge
  backend/src/main/java/com/autoever/idle/domain/bill/BillService.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillResponseDto.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterController.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterRepository.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterService.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/dto/CarMasterDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorController.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/InteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorBillDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorColorDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorColorResDto.java
  backend/src/main/java/com/autoever/idle/global/config/WebConfig.java
  backend/src/main/java/com/autoever/idle/global/exception/ErrorCode.java
  backend/src/main/java/com/autoever/idle/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/autoever/idle/global/exception/custom/InvalidTrimException.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/exteriorColor/ExteriorColorServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimServiceTest.java
  backend/src/test/resources/application.yml
Labels: Backend ⚙️

#210 [BE] data.sql의 trim_function테이블 수정
  backend/src/main/resources/data.sql
  backend/src/test/java/com/autoever/idle/domain/option/OptionRepositoryImplTest.java
Labels: Hotfix 🤫, Backend ⚙️

#213 [FE] 색상 페이지 api 연결 완료
  frontend/Idle/src/components/colorSelection/InnerColorBoxContainer.jsx
  frontend/Idle/src/components/colorSelection/OutsideColorBoxContainer.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/content/InnerColorContent.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/globalCar.jsx
Labels: Feature 💡, Frontend ☀️

#215 [Fe] 카마스터 api 연결
  frontend/Idle/src/components/BillMain/DillerBox.jsx
  frontend/Idle/src/components/BillMain/DillerBoxContainer.jsx
  frontend/Idle/src/components/BillMain/Map.jsx
  frontend/Idle/src/components/BillMain/MapModal.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#218 [FE] ‘기본 옵션 페이지’ 호출 API
  frontend/Idle/src/components/defaultOption/DetailOptionModal.jsx
  frontend/Idle/src/components/defaultOption/ItemBox.jsx
  frontend/Idle/src/components/defaultOption/Modal.jsx
  frontend/Idle/src/components/defaultOption/PaginationButton.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#223 [BE] 견적서 API 반환 정보 수정
  backend/src/main/java/com/autoever/idle/domain/bill/BillService.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillRequestDto.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillResponseDto.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/FunctionCategoryRepository.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/dto/DefaultFunctionCategoryResDto.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionRepository.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionRepository.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/dto/SelectedOptionDto.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/function/FunctionRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionRepositoryImplTest.java
Labels: Feature 💡, Backend ⚙️

#224 [BE] 3Week-3 be-develop to be-main Merge
  backend/src/main/java/com/autoever/idle/domain/bill/BillService.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillRequestDto.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillResponseDto.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/FunctionCategoryRepository.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/dto/DefaultFunctionCategoryResDto.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionRepository.java
  backend/src/main/java/com/autoever/idle/domain/function/FunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/FunctionDto.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionController.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionRepository.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionService.java
  backend/src/main/java/com/autoever/idle/domain/option/dto/OptionDto.java
  backend/src/main/java/com/autoever/idle/domain/option/dto/OptionFunctionsDto.java
  backend/src/main/java/com/autoever/idle/domain/option/dto/OptionRequest.java
  backend/src/main/java/com/autoever/idle/domain/option/dto/SelectedOptionDto.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/function/FunctionRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionServiceTest.java
Labels: Feature 💡, Backend ⚙️

#222 [FE] 옵션 포함 상태에서 트림 변경시 경고 모달 출력
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/logos/MainLogoBlack.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/reducer.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#227 [feat] 최종 견적서 페이지 api 연결
  frontend/Idle/src/components/BillMain/BillDetail.jsx
  frontend/Idle/src/components/BillMain/BillOptionBox.jsx
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/findTrim/Modal.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/utils/reducer.jsx
Labels: Feature 💡, Frontend ☀️

#228 [FE] 툴팁 적용 Feature
  frontend/Idle/src/assets/images/carMasterTooltip.svg
  frontend/Idle/src/components/common/toolTips/CarMasterTooltip.jsx
  frontend/Idle/src/components/findTrim/Modal.jsx
  frontend/Idle/src/components/findTrim/index.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
Labels: Feature 💡, Frontend ☀️

#231 [FE] 모든 옵션들을 선택했을 때 견적서 이동이 가능하도록 변경
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/components/navbar/index.jsx
  frontend/Idle/src/pages/billPage.jsx
Labels: Feature 💡, Frontend ☀️

#236 [BE] 트림 썸네일 기능 조회
  backend/src/main/java/com/autoever/idle/domain/trim/TrimService.java
  backend/src/main/java/com/autoever/idle/domain/trim/dto/TrimSelectionResDto.java
  backend/src/main/java/com/autoever/idle/domain/trimThumbnailFunction/TrimThumbnailFunctionRepository.java
  backend/src/main/java/com/autoever/idle/domain/trimThumbnailFunction/TrimThumbnailFunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trimThumbnailFunction/dto/TrimThumbnailFunctionDto.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/autoever/idle/domain/trim/TrimServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/trimThumbnailFunction/TrimThumbnailFunctionRepositoryTest.java
  backend/src/test/resources/h2Schema.sql
Labels: Feature 💡, Backend ⚙️

#240 [FE] 기본 포함 옵션 모달 기능 추가
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#242 [BE] 견적서 정보에 트림 설명 추가
  backend/src/main/java/com/autoever/idle/domain/bill/BillService.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillResponseDto.java
  backend/src/main/java/com/autoever/idle/domain/trim/TrimRepository.java
  backend/src/main/java/com/autoever/idle/domain/trim/TrimRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/dto/TrimDescriptionDto.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimRepositoryTest.java
Labels: Feature 💡, Backend ⚙️

#239 [BE] 추가 옵션 목록이 빈 배열일 때 쿼리 동적으로 수정
  backend/src/main/java/com/autoever/idle/domain/option/OptionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionService.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionServiceTest.java
Labels: Hotfix 🤫, Backend ⚙️

#243 [BE] 3Week-4 be-develop to be-main Merge
  backend/src/main/java/com/autoever/idle/domain/bill/BillService.java
  backend/src/main/java/com/autoever/idle/domain/bill/dto/BillResponseDto.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/OptionService.java
  backend/src/main/java/com/autoever/idle/domain/trim/TrimRepository.java
  backend/src/main/java/com/autoever/idle/domain/trim/TrimRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/TrimService.java
  backend/src/main/java/com/autoever/idle/domain/trim/dto/TrimDescriptionDto.java
  backend/src/main/java/com/autoever/idle/domain/trim/dto/TrimSelectionResDto.java
  backend/src/main/java/com/autoever/idle/domain/trimThumbnailFunction/TrimThumbnailFunctionRepository.java
  backend/src/main/java/com/autoever/idle/domain/trimThumbnailFunction/TrimThumbnailFunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trimThumbnailFunction/dto/TrimThumbnailFunctionDto.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/trimThumbnailFunction/TrimThumbnailFunctionRepositoryTest.java
  backend/src/test/resources/h2Schema.sql
Labels: Backend ⚙️

#238 [BE] data.sql에 카마스터 정보 추가
  .DS_Store
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterRepositoryImplTest.java
  backend/src/test/resources/h2Schema.sql
Labels: Feature 💡, Backend ⚙️

#244 [BE] 카마스터 찾기 시 카마스터의 주소, marker이미지 정보 반환 추가
  backend/src/main/java/com/autoever/idle/domain/carMaster/CarMasterRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/dto/CarMasterDto.java
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/carMaster/CarMasterServiceTest.java
Labels: Feature 💡, Backend ⚙️

#245 [FE] 추가옵션 페이지 API적용
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/utils/globalCar.jsx
Labels: Feature 💡, Frontend ☀️

#246 [Fe] 카마스터 찾기 커스텀 오버레이
  frontend/Idle/src/assets/images/carMasterHyundai.svg
  frontend/Idle/src/assets/images/carMasterPointer.png
  frontend/Idle/src/components/BillMain/Address.jsx
  frontend/Idle/src/components/BillMain/CustomOverlay.jsx
  frontend/Idle/src/components/BillMain/DillerBox.jsx
  frontend/Idle/src/components/BillMain/DillerBoxContainer.jsx
  frontend/Idle/src/components/BillMain/Map.jsx
  frontend/Idle/src/components/BillMain/MapModal.jsx
  frontend/Idle/src/styles/CustomOverlay.css
Labels: Feature 💡, Frontend ☀️

#247 [FE] 툴팁 적용
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
Labels: Feature 💡, Frontend ☀️

#249 [FE] 트림페이지 자세히보기 버그 수정
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
Labels: Hotfix 🤫, Frontend ☀️

#254 [Fe] Front-End 3주차
  frontend/Idle/src/assets/images/billToolTip.svg
  frontend/Idle/src/assets/images/carMasterHyundai.svg
  frontend/Idle/src/assets/images/carMasterPointer.png
  frontend/Idle/src/assets/images/carMasterTooltip.svg
  frontend/Idle/src/components/BillMain/Address.jsx
  frontend/Idle/src/components/BillMain/BillDetail.jsx
  frontend/Idle/src/components/BillMain/BillMain.jsx
  frontend/Idle/src/components/BillMain/BillOptionBox.jsx
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/components/BillMain/CustomOverlay.jsx
  frontend/Idle/src/components/BillMain/DillerBox.jsx
  frontend/Idle/src/components/BillMain/DillerBoxContainer.jsx
  frontend/Idle/src/components/BillMain/Map.jsx
  frontend/Idle/src/components/BillMain/MapModal.jsx
  frontend/Idle/src/components/colorSelection/InnerColorBoxContainer.jsx
  frontend/Idle/src/components/colorSelection/OutsideColorBoxContainer.jsx
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/components/common/content/InnerColorContent.jsx
  frontend/Idle/src/components/common/logos/MainLogoBlack.jsx
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/common/toolTips/CarMasterTooltip.jsx
  frontend/Idle/src/components/defaultOption/DetailOptionModal.jsx
  frontend/Idle/src/components/defaultOption/ItemBox.jsx
  frontend/Idle/src/components/defaultOption/Modal.jsx
  frontend/Idle/src/components/defaultOption/PaginationButton.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/Modal.jsx
  frontend/Idle/src/components/findTrim/OptionAlert.jsx
  frontend/Idle/src/components/findTrim/OptionBoxContainer.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
  frontend/Idle/src/components/findTrim/index.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/components/navbar/index.jsx
  frontend/Idle/src/components/optionMain/Functions.jsx
  frontend/Idle/src/components/optionMain/OptionContent.jsx
  frontend/Idle/src/components/optionMain/index.jsx
  frontend/Idle/src/components/trimDetailModal/OptionDropDown.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/styles/CustomOverlay.css
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/api.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/globalCar.jsx
  frontend/Idle/src/utils/reducer.jsx
Labels: Frontend ☀️

#257 [FE] 트림이미지 기능 좌표 설정
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/common/tabs/CategoryTabs.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/components/trimMain/index.jsx
  frontend/Idle/src/pages/trimPage.jsx
Labels: Feature 💡, Frontend ☀️

#263 [FE] 차객체에서 외장색상 첫 사진을 차객체에서 저장하고, 견적서 완성에서 띄우기
  frontend/Idle/src/components/BillMain/BillDetail.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/utils/actionType.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/globalCar.jsx
  frontend/Idle/src/utils/reducer.jsx
Labels: Feature 💡, Frontend ☀️

#262 [Fe] 공유하기 버튼 클릭 시 pdf 다운
  frontend/Idle/package-lock.json
  frontend/Idle/package.json
  frontend/Idle/src/pages/billPage.jsx
Labels: Feature 💡, Frontend ☀️

#267 [BE] 트림 조회 시 외장, 내장 색상 정보 반환
  backend/src/main/java/com/autoever/idle/domain/carType/repository/CarTypeRepository.java
  backend/src/main/java/com/autoever/idle/domain/carType/repository/CarTypeRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorImgUrlDto.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/TrimThumbnailColorResponse.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/repository/ExteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/repository/ExteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorImgUrlDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/dto/TrimSelectionResponse.java
  backend/src/main/java/com/autoever/idle/domain/trim/service/TrimService.java
  backend/src/test/java/com/autoever/idle/domain/carType/CarTypeRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/exteriorColor/ExteriorColorRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimServiceTest.java
Labels: Feature 💡, Backend ⚙️

#268 [BE] 3Week-6 be-develop to be-main Merge
  .idea/.gitignore
  .idea/A5-Idle.iml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/src/main/java/com/autoever/idle/domain/carType/repository/CarTypeRepository.java
  backend/src/main/java/com/autoever/idle/domain/carType/repository/CarTypeRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorImgUrlDto.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/TrimThumbnailColorResponse.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/repository/ExteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/repository/ExteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorImgUrlDto.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/dto/TrimSelectionResponse.java
  backend/src/main/java/com/autoever/idle/domain/trim/service/TrimService.java
  backend/src/test/java/com/autoever/idle/domain/carType/CarTypeRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/exteriorColor/ExteriorColorRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimServiceTest.java
Labels: Backend ⚙️

#271 [BE] 내게 맞는 트림 찾기 리팩토링
  backend/src/main/java/com/autoever/idle/domain/bill/service/BillService.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/controller/CarMasterController.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/controller/ExteriorColorController.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/DefaultFunctionResponse.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/FunctionDto.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/FunctionIdResponse.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/MyTrimFunctionDto.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/MyTrimFunctionResponse.java
  backend/src/main/java/com/autoever/idle/domain/function/repository/FunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/function/repository/TrimFunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/function/service/FunctionService.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/controller/InteriorColorController.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/controller/MyTrimController.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/dto/MyTrimDto.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/dto/MyTrimResponse.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/dto/MyTrimSubmitRequest.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/service/MyTrimService.java
  backend/src/main/java/com/autoever/idle/domain/option/controller/OptionController.java
  backend/src/main/java/com/autoever/idle/domain/trim/controller/TrimController.java
  backend/src/main/java/com/autoever/idle/domain/trim/service/TrimService.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimControllerTest.java
Labels: Refactor ✨, Backend ⚙️

#272 [BE] 카마스터 찾기 리팩토링
  backend/src/main/java/com/autoever/idle/domain/carMaster/controller/CarMasterController.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/repository/CarMasterRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/service/CarMasterService.java
Labels: Refactor ✨, Backend ⚙️

#275 [BE] CAR_TYPE, CAR_CATEGORY 테이블 수정 및 추가
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/resources/h2Schema.sql
Labels: Feature 💡, Backend ⚙️

#279 [FE] 트림, 엔진 선택 후에만 옵션 페이지 이동 가능
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/components/navbar/index.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#277 [FE] 옵션 변경 경고 모달 연결
  frontend/Idle/src/components/BillMain/DillerBox.jsx
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/modals/RemoveOptionModal.jsx
  frontend/Idle/src/components/defaultOption/DetailOptionModal.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
Labels: Feature 💡, Frontend ☀️

#281 [FE] 견적서 이동 체크 및 버튼 위치 통일 수정
  frontend/Idle/src/assets/images/Calligraphy.png
  frontend/Idle/src/assets/images/Exclusive.png
  frontend/Idle/src/assets/images/Le Blanc.png
  frontend/Idle/src/assets/images/Prestige.png
  frontend/Idle/src/assets/images/carMasterPointer.png
  frontend/Idle/src/assets/images/innerColor.png
  frontend/Idle/src/assets/images/outsideColor/black.png
  frontend/Idle/src/assets/images/outsideColor/brown.png
  frontend/Idle/src/assets/images/outsideColor/emerald.png
  frontend/Idle/src/assets/images/outsideColor/grey.png
  frontend/Idle/src/assets/images/outsideColor/moonlight.png
  frontend/Idle/src/assets/images/outsideColor/silver.png
  frontend/Idle/src/assets/images/outsideColor/white.png
  frontend/Idle/src/assets/images/외장색상1.png
  frontend/Idle/src/assets/images/외장색상2.png
  frontend/Idle/src/components/BillMain/BillDetail.jsx
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/components/colorSelection/InnerColorBoxContainer.jsx
  frontend/Idle/src/components/colorSelection/OutsideColorBoxContainer.jsx
  frontend/Idle/src/components/common/boxs/OutsideColorBox.jsx
  frontend/Idle/src/components/common/buttons/ModifyButton.jsx
  frontend/Idle/src/components/optionMain/Functions.jsx
  frontend/Idle/src/components/optionMain/OptionContent.jsx
  frontend/Idle/src/pages/optionPage.jsx
Labels: Feature 💡, Frontend ☀️

#286 [FE] 트림 선택 페이지 외장, 내장 색상 박스 구현
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/buttons/ModifyButton.jsx
  frontend/Idle/src/components/common/content/Car3D.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/defaultOption/CloseButton.jsx
  frontend/Idle/src/components/defaultOption/DefaultOptionButton.jsx
  frontend/Idle/src/components/defaultOption/DetailOptionModal.jsx
  frontend/Idle/src/components/defaultOption/ItemBox.jsx
  frontend/Idle/src/components/defaultOption/Modal.jsx
  frontend/Idle/src/components/findTrim/FindTrimButton.jsx
  frontend/Idle/src/components/trimDetailModal/OptionDropDown.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/components/trimMain/ExteriorBoxContainer.jsx
  frontend/Idle/src/components/trimMain/InteriorBoxContainer.jsx
  frontend/Idle/src/components/trimMain/index.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
Labels: Feature 💡, Frontend ☀️, Style 🎨

#289 [FE] 차량 선택 페이지
  frontend/Idle/src/components/carSelection/CarSelectionBox.jsx
  frontend/Idle/src/components/carSelection/CarSelectionContainer.jsx
  frontend/Idle/src/pages/mainPage.jsx
  frontend/Idle/src/pages/selectCarPage.jsx
  frontend/Idle/src/utils/constants.jsx
  frontend/Idle/src/utils/router.jsx
Labels: Feature 💡, Frontend ☀️, Component 🎲

#291 [FE] z-index 수정 및 예상 가격 애니메이션 추가
  frontend/Idle/src/components/BillMain/MapModal.jsx
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/components/common/buttons/ConfusingButton.jsx
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/common/modals/RemoveOptionModal.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/common/tabs/CategoryTabs.jsx
  frontend/Idle/src/components/defaultOption/DetailOptionModal.jsx
  frontend/Idle/src/components/defaultOption/Modal.jsx
  frontend/Idle/src/components/findTrim/Modal.jsx
  frontend/Idle/src/components/findTrim/OptionAlert.jsx
  frontend/Idle/src/components/layout/Header.jsx
  frontend/Idle/src/components/navbar/EstimatePrice.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/components/trimMain/index.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
Labels: Feature 💡, Frontend ☀️

#282 [BE] 차종 선택 페이지API 구현
  backend/src/main/java/com/autoever/idle/domain/carType/controller/CarTypeController.java
  backend/src/main/java/com/autoever/idle/domain/carType/dto/CarTypeDto.java
  backend/src/main/java/com/autoever/idle/domain/carType/repository/CarTypeRepository.java
  backend/src/main/java/com/autoever/idle/domain/carType/repository/CarTypeRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/carType/service/CarTypeService.java
  backend/src/main/java/com/autoever/idle/domain/category/carCategory/dto/CarCategoryDto.java
  backend/src/main/java/com/autoever/idle/domain/category/carCategory/dto/CarCategoryResponse.java
  backend/src/main/java/com/autoever/idle/domain/category/carCategory/repository/CarCategoryRepository.java
  backend/src/main/java/com/autoever/idle/domain/category/carCategory/repository/CarCategoryRepositoryImpl.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/autoever/idle/domain/carType/CarTypeRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/carType/controller/CarTypeControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/carType/service/CarTypeServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/category/carCategory/repository/CarCategoryRepositoryImplTest.java
Labels: Feature 💡, Backend ⚙️

#297 [FE] 이미지 최적화 시도
  frontend/Idle/src/App.jsx
  frontend/Idle/src/components/common/buttons/BlueButton.jsx
  frontend/Idle/src/components/common/buttons/WhiteButton.jsx
  frontend/Idle/src/components/common/content/Car3D.jsx
  frontend/Idle/src/components/findTrim/FindTrimButton.jsx
  frontend/Idle/src/components/findTrim/Modal.jsx
  frontend/Idle/src/components/findTrim/index.jsx
  frontend/Idle/src/components/trimMain/index.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/mainPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/context.jsx
  frontend/Idle/src/utils/preloader.jsx
Labels: Feature 💡, Refactor ✨, Frontend ☀️

#301 [FE] 옵션 박스 disable 기능 구현
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/components/defaultOption/Modal.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
Labels: Feature 💡, Frontend ☀️

#305 [BE] 추가 옵션 선택 시 활성화, 비활성화 정보 필드 타입 수정
  backend/src/main/java/com/autoever/idle/domain/option/dto/OptionDto.java
  backend/src/main/java/com/autoever/idle/domain/option/dto/OptionFunctionsResponse.java
  backend/src/main/java/com/autoever/idle/domain/option/service/OptionService.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionServiceTest.java
Labels: Hotfix 🤫, Backend ⚙️

#307 [BE] option_status테이블에 데이터 추가
  backend/src/main/resources/data.sql
Labels: Hotfix 🤫, Backend ⚙️

#310 [FE] 로딩 컴포넌트 구현
  frontend/Idle/src/components/common/loading/Loading.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/router.jsx
Labels: Feature 💡, Frontend ☀️

#311 [BE] 차종 선택 페이지 API 요구사항에 맞춰 수정
  backend/src/main/java/com/autoever/idle/domain/carType/dto/CarTypeDto.java
  backend/src/main/java/com/autoever/idle/domain/carType/repository/CarTypeRepositoryImpl.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/autoever/idle/domain/carType/controller/CarTypeControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/carType/service/CarTypeServiceTest.java
  backend/src/test/resources/h2Schema.sql
Labels: Feature 💡, Backend ⚙️

#312 [BE] 추가 옵션 및 견적서 페이지 POST -> GET 요청으로 변경
  backend/src/main/java/com/autoever/idle/domain/bill/controller/BillController.java
  backend/src/main/java/com/autoever/idle/domain/option/controller/OptionController.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionControllerTest.java
Labels: Hotfix 🤫, Backend ⚙️

#314 [FE] 견적완성 페이지 밑에 부분 구현
  frontend/Idle/src/components/BillMain/BillDetail.jsx
  frontend/Idle/src/components/BillMain/BillMain.jsx
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/components/BillMain/MapModal.jsx
  frontend/Idle/src/components/common/buttons/LocationButton.jsx
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/common/modals/RemoveOptionModal.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
Labels: Frontend ☀️, Component 🎲

#315 [Fe] 옵션 페이지 크기 조절
  frontend/Idle/src/components/optionMain/Functions.jsx
  frontend/Idle/src/components/optionMain/OptionContent.jsx
Labels: Feature 💡, Frontend ☀️

#317 [BE] 트림 선택, 외장 색상 선택, 내장 색상 선택 API 리팩토링
  backend/src/main/java/com/autoever/idle/domain/carMaster/repository/CarMasterRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/carType/repository/CarTypeRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/category/carCategory/repository/CarCategoryRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/dto/DefaultFunctionCategoryResponse.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/dto/FunctionCategoryDto.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/repository/FunctionCategoryRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/bodyType/repository/BodyTypeRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/drivingMethod/repository/DrivingMethodRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/engine/repository/EngineRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/CarExteriorImgDto.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorColorDto.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorImgUrlDto.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/repository/ExteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/DefaultFunctionNameResponse.java
  backend/src/main/java/com/autoever/idle/domain/function/repository/FunctionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/repository/OptionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/dto/TrimDto.java
  backend/src/main/java/com/autoever/idle/domain/trim/dto/TrimSelectionResponse.java
  backend/src/main/java/com/autoever/idle/domain/trim/repository/TrimRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/service/TrimService.java
  backend/src/main/java/com/autoever/idle/domain/trimThumbnailFunction/dto/TrimThumbnailFunctionResponse.java
  backend/src/main/java/com/autoever/idle/domain/trimThumbnailFunction/repository/TrimThumbnailFunctionRepositoryImpl.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimControllerTest.java
Labels: Refactor ✨, Backend ⚙️

#319 [Fe] 전체 디자인 수정
  frontend/Idle/src/assets/images/carMasterHyundai.svg
  frontend/Idle/src/components/BillMain/CustomOverlay.jsx
  frontend/Idle/src/components/BillMain/DillerBox.jsx
  frontend/Idle/src/components/BillMain/MapModal.jsx
  frontend/Idle/src/components/carSelection/CarSelectionBox.jsx
  frontend/Idle/src/components/colorSelection/InnerColorBoxContainer.jsx
  frontend/Idle/src/components/common/boxs/DetailModelBox.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/common/boxs/OptionBox.jsx
  frontend/Idle/src/components/common/boxs/OutsideColorBox.jsx
  frontend/Idle/src/components/common/buttons/AddButton.jsx
  frontend/Idle/src/components/common/buttons/BlueButton.jsx
  frontend/Idle/src/components/common/buttons/ConfusingButton.jsx
  frontend/Idle/src/components/common/buttons/WhiteButton.jsx
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/common/modals/RemoveOptionModal.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/defaultOption/DetailOptionModal.jsx
  frontend/Idle/src/components/defaultOption/ItemBox.jsx
  frontend/Idle/src/components/findTrim/OptionBox.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
  frontend/Idle/src/components/navbar/EstimatePrice.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/components/optionMain/Functions.jsx
  frontend/Idle/src/components/optionMain/OptionContent.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/pages/mainPage.jsx
  frontend/Idle/src/pages/selectCarPage.jsx
Labels: Frontend ☀️, Style 🎨

#318 [FE] 최종 견적서 페이지 추가 옵션들 클릭시 팝업 구현 ( 추가 기능 )
  frontend/Idle/src/components/BillMain/BillOptionBox.jsx
  frontend/Idle/src/components/BillMain/BillOptionContainer.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/defaultOption/DetailOptionModal.jsx
  frontend/Idle/src/components/defaultOption/ItemBox.jsx
  frontend/Idle/src/components/trimDetailModal/OptionDropDown.jsx
  frontend/Idle/src/components/trimDetailModal/TrimDetailModal.jsx
  frontend/Idle/src/pages/billPage.jsx
Labels: Feature 💡, Frontend ☀️

#322 [FE] 추가옵션 페이지 POST->GET으로
  frontend/Idle/src/components/BillMain/MapModal.jsx
  frontend/Idle/src/components/common/boxs/NormalTrimBox.jsx
  frontend/Idle/src/components/defaultOption/Modal.jsx
  frontend/Idle/src/components/findTrim/FindTrimContent.jsx
  frontend/Idle/src/components/findTrim/TrimBox.jsx
  frontend/Idle/src/components/optionMain/Functions.jsx
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
  frontend/Idle/src/utils/api.jsx
Labels: Feature 💡, Frontend ☀️

#326 [BE] 세부모델, 견적서 API 리팩토링
  backend/src/main/java/com/autoever/idle/domain/bill/controller/BillController.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/dto/EngineResponse.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/engine/repository/EngineRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/function/controller/FunctionController.java
  backend/src/main/java/com/autoever/idle/domain/function/service/FunctionService.java
  backend/src/main/java/com/autoever/idle/domain/option/service/OptionService.java
Labels: Refactor ✨, Backend ⚙️

#325 [BE] 내게 맞는 트림 찾기 API POST -> GET 으로 수정
  backend/src/main/java/com/autoever/idle/domain/myTrim/controller/MyTrimController.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/dto/MyTrimSubmitRequest.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/service/MyTrimService.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimServiceTest.java
Labels: Hotfix 🤫, Backend ⚙️

#328 [BE] 외장 색상 정렬 로직 리팩토링
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/service/ExteriorColorService.java
Labels: Refactor ✨, Backend ⚙️

#331 [FE] 차량 선택 api 연결
  frontend/Idle/src/pages/selectCarPage.jsx
  frontend/Idle/src/utils/constants.jsx
Labels: Feature 💡, Frontend ☀️

#332 [BE] 내게 맞는 트림 찾기 선택지 필터링 캐싱
  backend/src/main/java/com/autoever/idle/IdleApplication.java
  backend/src/main/java/com/autoever/idle/domain/bill/controller/BillController.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/controller/MyTrimController.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/dto/MyTrimSubmitRequest.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/service/MyTrimService.java
  backend/src/main/java/com/autoever/idle/domain/option/controller/OptionController.java
Labels: Feature 💡, Backend ⚙️

#333 [BE] 4Week-2 be-develop to be-main Merge
  backend/src/main/java/com/autoever/idle/IdleApplication.java
  backend/src/main/java/com/autoever/idle/domain/bill/controller/BillController.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/dto/EngineResponse.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/engine/repository/EngineRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/service/ExteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/function/controller/FunctionController.java
  backend/src/main/java/com/autoever/idle/domain/function/service/FunctionService.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/controller/MyTrimController.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/dto/MyTrimSubmitRequest.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/service/MyTrimService.java
  backend/src/main/java/com/autoever/idle/domain/option/controller/OptionController.java
  backend/src/main/java/com/autoever/idle/domain/option/service/OptionService.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimServiceTest.java
Labels: Backend ⚙️

#339 [BE] 내장 색상 이미지 전체 조회 API
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorColorResponse.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/service/ExteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/controller/InteriorColorController.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorColorResponse.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorColorsImgUrlResponse.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/service/InteriorColorService.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorServiceTest.java
Labels: Feature 💡, Backend ⚙️

#343 [BE] 트림 조회 캐싱 처리
  backend/src/main/java/com/autoever/idle/domain/trim/controller/TrimController.java
Labels: Feature 💡, Backend ⚙️

#344 [BE] 4Week-3 be-develop to be-main Merge
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/dto/ExteriorColorResponse.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/service/ExteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/controller/InteriorColorController.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorColorResponse.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/dto/InteriorColorsImgUrlResponse.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepository.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/repository/InteriorColorRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/service/InteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/trim/controller/TrimController.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorServiceTest.java
Labels: Backend ⚙️

#340 [FE] 테스트 코드 환경 설정 및 AddButton 테스트 코드 작성
  frontend/Idle/package-lock.json
  frontend/Idle/package.json
  frontend/Idle/setUpTest.jsx
  frontend/Idle/src/components/common/buttons/AddButton.test.jsx
  frontend/Idle/src/components/common/buttons/BlueButton.test.jsx
  frontend/Idle/vite.config.js
Labels: Frontend ☀️, Test

#351 [FE] 이미지 태그, 컴포넌트들에 alt속성 추가
  frontend/Idle/index.html
  frontend/Idle/src/components/billPage/billSub/BillOptionBox.jsx
  frontend/Idle/src/components/billPage/carMaster/CustomOverlay.jsx
  frontend/Idle/src/components/billPage/carMaster/DealerBox.jsx
  frontend/Idle/src/components/billPage/carMaster/MapModal.jsx
  frontend/Idle/src/components/carSelectionPage/CarSelectionBox.jsx
  frontend/Idle/src/components/colorPage/colorMain/Car3D.jsx
  frontend/Idle/src/components/colorPage/colorSub/InteriorColorBox.jsx
  frontend/Idle/src/components/common/buttons/BlueButton.jsx
  frontend/Idle/src/components/common/buttons/LocationButton.jsx
  frontend/Idle/src/components/common/buttons/ModifyButton.jsx
  frontend/Idle/src/components/common/dropDown/OptionDropDown.jsx
  frontend/Idle/src/components/common/error/ErrorBoundary.jsx
  frontend/Idle/src/components/common/loading/Loading.jsx
  frontend/Idle/src/components/common/logos/MainLogoBlack.jsx
  frontend/Idle/src/components/common/logos/MainLogoWhite.jsx
  frontend/Idle/src/components/common/modals/OptionModal.jsx
  frontend/Idle/src/components/common/modals/TrimOptionModal.jsx
  frontend/Idle/src/components/common/toolTips/CarMasterTooltip.jsx
  frontend/Idle/src/components/common/toolTips/ConfusingTooltip.jsx
  frontend/Idle/src/components/common/toolTips/FindTrimTooltip.jsx
  frontend/Idle/src/components/common/toolTips/OptionTooltip.jsx
  frontend/Idle/src/components/detailModelPage/detailModelMain/EngineMain.jsx
  frontend/Idle/src/components/navbar/NavbarBox.jsx
  frontend/Idle/src/components/optionPage/defaultOption/defaultOptionMain/DefaultOptionBox.jsx
  frontend/Idle/src/components/optionPage/defaultOption/defaultOptionSub/CloseButton.jsx
  frontend/Idle/src/components/optionPage/defaultOption/defaultOptionSub/PaginationButton.jsx
  frontend/Idle/src/components/optionPage/optionMain/OptionContent.jsx
  frontend/Idle/src/components/optionPage/optionMain/OptionFunctions.jsx
  frontend/Idle/src/components/optionPage/optionMain/OptionMain.jsx
  frontend/Idle/src/components/optionPage/optionSub/DefaultOptionButton.jsx
  frontend/Idle/src/components/trimPage/findTrim/findTrimSub/OptionBox.jsx
  frontend/Idle/src/components/trimPage/findTrim/findTrimSub/OptionSelectModal.jsx
  frontend/Idle/src/components/trimPage/trimMain/ExteriorBoxContainer.jsx
  frontend/Idle/src/components/trimPage/trimMain/InteriorBoxContainer.jsx
  frontend/Idle/src/components/trimPage/trimMain/TrimMain.jsx
  frontend/Idle/src/components/trimPage/trimSub/FindTrimButton.jsx
  frontend/Idle/src/components/trimPage/trimSub/NormalTrimBox.jsx
  frontend/Idle/src/pages/carSelectionPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
Labels: Refactor ✨, Frontend ☀️

#350 [BE] 추가 옵션 선택 API 쿼리 최적화
  backend/src/main/java/com/autoever/idle/domain/option/dto/OptionDto.java
  backend/src/main/java/com/autoever/idle/domain/option/repository/OptionRepository.java
  backend/src/main/java/com/autoever/idle/domain/option/repository/OptionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/service/OptionService.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionRepositoryImplTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionServiceTest.java
Labels: Feature 💡, Refactor ✨, Backend ⚙️

#353 [BE] 트림 조회 쿼리 최적화
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/repository/FunctionCategoryRepository.java
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/repository/FunctionCategoryRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/function/dto/DefaultFunctionDto.java
  backend/src/main/java/com/autoever/idle/domain/trim/repository/TrimRepository.java
  backend/src/main/java/com/autoever/idle/domain/trim/repository/TrimRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/service/TrimService.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/bill/BillServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/carType/controller/CarTypeControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/carType/service/CarTypeServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/category/functionCategory/FunctionCategoryRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/detailModel/DetailModelControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/detailModel/DetailModelServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/function/FunctionServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/interiorColor/InteriorColorControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/myTrim/MyTrimServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionControllerTest.java
  backend/src/test/java/com/autoever/idle/domain/option/OptionServiceTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimRepositoryTest.java
  backend/src/test/java/com/autoever/idle/domain/trim/TrimServiceTest.java
Labels: Refactor ✨, Backend ⚙️

#358 [FE] 이미지 프리로딩 최적화
  frontend/Idle/index.html
  frontend/Idle/src/App.jsx
  frontend/Idle/src/components/detailModelPage/detailModelSub/DetailModelBox.jsx
  frontend/Idle/src/components/navbar/EstimatePrice.jsx
  frontend/Idle/src/components/trimPage/trimSub/NormalTrimBox.jsx
  frontend/Idle/src/components/trimPage/trimSub/NormalTrimBoxContainer.jsx
  frontend/Idle/src/constant/constants.jsx
  frontend/Idle/src/constant/path.jsx
  frontend/Idle/src/favicon.ico
  frontend/Idle/src/pages/billPage.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
Labels: Refactor ✨, Frontend ☀️

#359 [BE] @Transactionl 처리 및 추가 옵션 관련 쿼리 수정
  backend/src/main/java/com/autoever/idle/domain/bill/service/BillService.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/service/CarMasterService.java
  backend/src/main/java/com/autoever/idle/domain/carType/service/CarTypeService.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/DetailModelService.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/service/ExteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/function/service/FunctionService.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/service/InteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/service/MyTrimService.java
  backend/src/main/java/com/autoever/idle/domain/option/repository/OptionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/service/OptionService.java
  backend/src/main/java/com/autoever/idle/domain/trim/repository/TrimRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/service/TrimService.java
Labels: Feature 💡, Refactor ✨, Backend ⚙️

#363 [BE] 4Week-5 be-develop to be-main Merge
  backend/src/main/java/com/autoever/idle/domain/bill/service/BillService.java
  backend/src/main/java/com/autoever/idle/domain/carMaster/service/CarMasterService.java
  backend/src/main/java/com/autoever/idle/domain/carType/service/CarTypeService.java
  backend/src/main/java/com/autoever/idle/domain/detailModel/DetailModelService.java
  backend/src/main/java/com/autoever/idle/domain/exteriorColor/service/ExteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/function/service/FunctionService.java
  backend/src/main/java/com/autoever/idle/domain/interiorColor/service/InteriorColorService.java
  backend/src/main/java/com/autoever/idle/domain/myTrim/service/MyTrimService.java
  backend/src/main/java/com/autoever/idle/domain/option/repository/OptionRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/option/service/OptionService.java
  backend/src/main/java/com/autoever/idle/domain/trim/repository/TrimRepositoryImpl.java
  backend/src/main/java/com/autoever/idle/domain/trim/service/TrimService.java
Labels: Feature 💡, Refactor ✨, Backend ⚙️

#364 [FE] 페이지 컴포넌트 분리
  frontend/Idle/src/components/colorPage/colorMain/ColorTabContainer.jsx
  frontend/Idle/src/components/colorPage/colorSub/ColorConfirmContainer.jsx
  frontend/Idle/src/components/detailModelPage/detailModelMain/DetailModelMain.jsx
  frontend/Idle/src/components/detailModelPage/detailModelMain/DetailModelTabContainer.jsx
  frontend/Idle/src/components/detailModelPage/detailModelSub/DetailModelBoxContainer.jsx
  frontend/Idle/src/components/detailModelPage/detailModelSub/DetailModelConfirmContainer.jsx
  frontend/Idle/src/components/optionPage/optionMain/OptionMain.jsx
  frontend/Idle/src/components/optionPage/optionMain/OptionTabContainer.jsx
  frontend/Idle/src/components/optionPage/optionSub/OptionBoxContainer.jsx
  frontend/Idle/src/components/optionPage/optionSub/OptionConfirmContainer.jsx
  frontend/Idle/src/components/trimPage/trimSub/TrimConfirmContainer.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/detailModelPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/pages/trimPage.jsx
Labels: Refactor ✨, Frontend ☀️

#368 [BE] 견적서 dto, 쿼리 매칭 문제 해결
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/repository/FunctionCategoryRepositoryImpl.java
Labels: Hotfix 🤫, Backend ⚙️

#369 [BE] 4Week-6 be-develop to be-main Merge
  backend/src/main/java/com/autoever/idle/domain/category/functionCategory/repository/FunctionCategoryRepositoryImpl.java
Labels: Backend ⚙️

#371 [FE] 페이지 컴포넌트 분리
  frontend/Idle/index.html
  frontend/Idle/src/components/carSelectionPage/carSelectionMain/CarSelectionBox.jsx
  frontend/Idle/src/components/carSelectionPage/carSelectionMain/CarSelectionContainer.jsx
  frontend/Idle/src/components/carSelectionPage/carSelectionSub/CarSelectionPagenation.jsx
  frontend/Idle/src/components/colorPage/colorMain/ColorMain.jsx
  frontend/Idle/src/components/colorPage/colorSub/ColorBoxContainer.jsx
  frontend/Idle/src/components/common/modals/WarningModal.jsx
  frontend/Idle/src/components/navbar/NavBar.jsx
  frontend/Idle/src/components/trimPage/trimSub/NormalTrimBox.jsx
  frontend/Idle/src/pages/carSelectionPage.jsx
  frontend/Idle/src/pages/colorPage.jsx
  frontend/Idle/src/pages/optionPage.jsx
  frontend/Idle/src/styles/font.css
Labels: Refactor ✨, Frontend ☀️

#376 [Fe] fe-dev to main merge
  frontend/Idle/src/components/common/buttons/AddButton.jsx
  frontend/Idle/src/components/common/buttons/ConfusingButton.jsx
  frontend/Idle/src/components/trimPage/findTrim/findTrimSub/OptionBox.jsx
  frontend/Idle/src/pages/mainPage.jsx
Labels: Hotfix 🤫, Frontend ☀️
